@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

body {
  margin: 0;
  height: 100vh;
  background: url("/img/bg.jpg") no-repeat center center;
  background-size: cover;
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

